@import "tailwindcss";
@import 'keen-slider/keen-slider.min.css';
@import "aos/dist/aos.css";

:root {
  --background: #ffffff;
  --foreground: #171717;
}



@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}


body {
  font-family: var(--font-raleway), sans-serif;
  overflow-x: hidden;
}


@keyframes marquee {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

@keyframes marquee-reverse {
  0% {
    transform: translateX(-50%);
  }
  100% {
    transform: translateX(0%);
  }
}

.animate-marquee {
  animation: marquee 25s linear infinite;
}

.animate-marquee-reverse {
  animation: marquee-reverse 20s linear infinite;
}
@keyframes marquee {
  0%, 10% {
    transform: translateX(0%);
  }
  45%, 55% {
    transform: translateX(-50%);
  }
  100% {
    transform: translateX(0%);
  }
}

@keyframes  marquee-reverse{
   0%, 10% {
    transform: translateX(0%);
  }
  45%, 55% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}



