@import "tailwindcss";
@import 'keen-slider/keen-slider.min.css';
@import "aos/dist/aos.css";



@import "slick-carousel/slick/slick.css";
@import "slick-carousel/slick/slick-theme.css";

:root {
  --background: #ffffff;
  --foreground: #171717;
}



@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}


body {
  font-family: var(--font-raleway), sans-serif;
  overflow-x: hidden;
}


@keyframes marquee {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

@keyframes marquee-reverse {
  0% {
    transform: translateX(-50%);
  }
  100% {
    transform: translateX(0%);
  }
}

.animate-marquee {
  animation: marquee 25s linear infinite;
}

.animate-marquee-reverse {
  animation: marquee-reverse 20s linear infinite;
}
@keyframes marquee {
  0%, 10% {
    transform: translateX(0%);
  }
  45%, 55% {
    transform: translateX(-50%);
  }
  100% {
    transform: translateX(0%);
  }
}

@keyframes  marquee-reverse{
   0%, 10% {
    transform: translateX(0%);
  }
  45%, 55% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}



.whatsapp-float {
  position: fixed;
  bottom: 30px;
  right: 20px;
  background-color: #25D366;
  color: white;
  border-radius: 50%;
  padding: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 999;
  transition: transform 0.2s ease;
}
.whatsapp-float:hover {
  transform: scale(1.1);
  color: white;
}

@media (max-width: 576px) {
  .whatsapp-float {
 
    right: 5;
 
  }
}




.call-float {
  position: fixed;
  bottom: 20px;          /* closer to screen edge */
  left: 20px;
  background-color: #e7591c;
  color: white;
  border-radius: 50%;
  padding: 14px;         /* larger touch area for mobile */
  font-size: 20px;       /* bigger icon */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.25);
  z-index: 999;
  transition: transform 0.2s ease, background-color 0.3s;
}

.call-float:hover {
  transform: scale(1.1);
  background-color: #cf4d15; /* subtle hover color */
  color: white;
}

/* optional: slightly bigger on very small screens */
@media (max-width: 480px) {
  .call-float {
    padding: 16px;
    font-size: 22px;
    bottom: 26px;
    left: 15px;
  }
}



@keyframes wobble {
  0% { transform: rotate(0deg); }
  15% { transform: rotate(-3deg); }
  30% { transform: rotate(3deg); }
  45% { transform: rotate(-3deg); }
  60% { transform: rotate(2deg); }
  75% { transform: rotate(-2deg); }
  100% { transform: rotate(0deg); }
}

.wobble-hover:hover {
  animation: wobble 0.6s ease-in-out;
}
